* {
  margin: 0px;

  padding: 0px;
  box-sizing: border-box;
}
.logo img{
  padding: 0;
  box-sizing: border-box;
}
.logo img {
  height: 80px;
  width: 80px;
  margin: 50px 200px;
  border-radius: 15px;
}
h1 {
 
  padding: 10px;
  margin: auto;
  text-align: center;
  color: #1b5650;
  font-size: 40px;
}

